// Widescreens
@include mediaXl {

}
// Desktop and Laptops
@include mediaLg {
    
}
// Tablets and small laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
        
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
    ul.menu-nav, div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }
    .menu-nav {
        height: 70vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }
    .menu-branding {
        height: 30vh;
        transform: translate3d(100%,0,0);
        
        .portrait {
            background: url("../img/self.jpeg");
            background-size: cover;
            width: 200px;
            height: 200px;
        }
    }
    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }
}

// Set text color
@function set-text-color($color) {
    @if (lightness($color) > 40 ) {
        @return black;
    } @else {
        @return white;
    }
}

// Smart phones
@include mediaSm {
    main #home h1 {
        margin-top: 10vh;

    }
}